/*///////////////////////////////////////////////////////////////////////////////////////////*/
/* RESPONSIVE CSS */
/*///////////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width:1440px) {

  html .b-welcome {
    background: url(../media/content/b-welcome/bg-1.jpg) 150% 50% no-repeat;
  }

  html .b-bnr-3__title {
    max-width: 535px;
    text-align: center;
    display: inline-block;
  }

}


@media (min-width:1440px) and (max-width:1800px) {
  .b-dealers-info__inner {
    width: 970px;
  }



}

@media (max-width:1600px) {
  .b-steps-list {
    margin-left: 0;
    margin-right: 0;
  }

  .section-brands__inner {
    margin-left: 0;
    margin-right: 0;
  }
}

/* end 1441px */
@media (min-width:1441px) {
  .parallax {
    background-size: 100;
  }
}

/* end 1441px */



@media (min-width:992px) and (max-width:1600px) {
  .b-steps-list__item:not(:last-child):after {
    width: 120px;
    left: calc(100% - 60px);
  }
}

/* end 992px-1600px */

@media (min-width:1440px) and (max-width:1600px) {
  .b-dealers-map {
    width: 650px;
  }
}

@media (min-width:1200px) and (max-width:1439px) {
  .b-dealers-map {
    width: 420px;
  }

  .b-dealers-info__inner {
    width: 830px;
  }
}


@media (min-width:992px) and (max-width:1199px) {
  .b-goods-f:not(.b-goods-f_row) .b-goods-f__list-item {
    padding-left: 5px;
    padding-right: 5px;
  }

  .b-goods-f:not(.b-goods-f_row) .b-goods-f__title {
    font-size: 16px;
  }

  .b-steps-list__number {
    font-size: 80px;
  }

  .b-steps-list__item {
    padding-left: 10px;
    padding-right: 10px;
  }

  .b-steps-list__title {
    font-size: 16px;
  }

  .b-steps-list__item:not(:last-child):after {
    top: 40px;
  }

  .b-goods-f_row .b-goods-f__media {
    width: 170px;
  }

  .b-filter__item+.b-filter__item {
    margin-top: 15px;
  }

  .b-filter .btn:not(.ui-select) {
    padding-left: 5px;
    padding-right: 5px;
  }

  .widget-title .ic {
    display: none;
  }

  .widget-title {
    padding-right: 10px;
  }

  .post-widget__media {
    float: none;
  }

  .post-widget__inner {
    padding-left: 0;
    margin-top: 10px;
  }
}

/* end 992px-1199px */



@media (max-width:1199px) {
  .header-main .navbar-brand {
    top: 6px;
  }

  .l-theme {
    padding-top: 100px;
  }

  .b-dealers-info-map {
    margin-top: 0;
    margin-bottom: 70px;
  }

  .b-dealers-info__inner {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .b-dealers-info__main {
    max-height: 100%;
  }

  .b-dealers-info__media {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .b-dealers-info__desrip {
    margin-top: 30px;
  }

  .b-dealers-map {
    width: 100%;
  }

  .b-bnr-3 {
    background-image: none;
  }

  .b-welcome,
  .section-about {
    background: none !important;
  }

  .b-goods-f:not(.b-goods-f_row) {
    max-width: 374px;
  }

  .b-bnr__second {
    margin-top: 30px;
  }

  .section-carousel__inner {
    text-align: center;
  }

  .b-goods-vip {
    padding: 0 35px 30px;
  }

  .b-goods-vip__title {
    font-size: 30px;
  }

  .b-goods-vip__label-2 {
    font-size: 16px;
    margin-left: -35px;
  }
}

/* end 1199px */



@media (max-width:991px) {
  .l-sidebar_last {
    margin-top: 70px;
  }

  .section-about {
    padding-bottom: 70px;
  }

  .b-goods-f:not(.b-goods-f_row) {
    margin: 0 auto 30px;
  }

  .b-title-page__wrap {
    width: auto;
  }

  .btns-switch,
  .b-filter-goods_sm .btns-switch {
    display: none;
  }

  .footer-section_subscribe {
    padding-right: 0;
  }

  .footer-list {
    margin-bottom: 30px;
  }

  .section-goods-vip {
    display: block;
  }

  .b-goods-vip {
    margin: 0 auto 20px;
    width: 100%;
  }

  .b-find__main {
    padding-right: 0;
  }

  .b-find__btn {
    position: relative;
    margin-bottom: 20px;
  }

  .b-services-nav {
    margin-bottom: 50px;
  }

  .b-steps-list__item:not(:last-child):after {
    display: none;
  }

  .b-steps-list__item {
    margin-bottom: 40px;
  }

  .section-reviews-2 {
    padding-top: 100px;
  }

  .b-contacts {
    margin-bottom: 20px;
  }
}

/* end 991px */



@media (max-width:991px) and (min-width:768px) {
  .main-slider__title {
    font-size: 50px;
  }

  .main-slider__title_lg {
    font-size: 55px;
  }

  .b-progress-list__name {
    font-size: 13px;
  }

  .b-progress-list__percent {
    font-size: 26px;
  }
}

/* end 991px-768px */



@media (max-width:767px) {

  html .demopage-logo {
    width: 100% !important;
  }

  html .l-main-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }


  html .b-services-nav {
    margin-right: 0;
  }

  html .menu-mobile-button {
    top: -6px;
  }

  .b-team {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-contacts {
    padding-right: 50px;
  }

  .b-dealers-nav {
    display: block;
  }

  .b-dealers__title {
    display: block;
  }

  .b-dealers__contacts {
    margin-bottom: 10px;
  }

  .b-dealers__brand {
    margin-bottom: 20px;
  }

  .b-dealers-rating {
    margin-left: 0;
  }

  .section-dealers__main {
    padding-left: 10px;
    padding-right: 10px;
  }

  .comments-list .comment-datetime {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0;
  }

  .comments-list .comment-body {
    padding-right: 0;
  }

  .comments-list .children .comment {
    padding-left: 40px;
  }

  .section-reply-form .form-reply {
    padding-right: 0;
  }

  .b-post-full .entry-date {
    left: 0;
  }

  .b-post-group,
  .b-post-full-wrap {
    padding-right: 0;
  }

  .b-post-full .entry-blockquote {
    padding-left: 54px;
    padding-right: 0;
  }

  .b-post-full .entry-date__number {
    font-size: 20px;
  }

  .b-post-full .entry-content {
    padding-right: 0;
  }

  .b-post-full .entry-media__info {
    font-size: 13px;
  }

  .b-brands-2__item {
    margin-bottom: 10px;
  }

  .b-progress-list_mod-a {
    margin-bottom: 20px;
  }

  .b-filter__item+.b-filter__item {
    margin-top: 15px;
  }

  .b-title-page__wrap {
    margin-left: 0;
    padding-left: 20px;
  }

  .b-filter-goods__info {
    margin-top: 5px;
    display: block;
  }

  .footer-contacts {
    margin-bottom: 30px;
  }

  .footer-section_link {
    margin-left: 0;
  }

  .footer__btn-up {
    bottom: 120px;
  }

  .b-post-1 .entry-content {
    margin-bottom: 0;
  }

  .b-post-1 {
    margin-bottom: 30px;
  }

  .b-post-1 .entry-media {
    margin-bottom: 18px;
  }

  .b-bnr-2__figure {
    display: none;
  }

  .b-bnr-2__section {
    margin-bottom: 20px;
    padding: 54px 20px 55px;
  }

  .b-isotope-filter>li>a {
    margin-bottom: 5px;
  }

  .b-progress-list__item {
    border-bottom: 1px solid #fff;
  }

  .b-bnr__second {
    text-align: center;
  }

  .b-bnr .btn {
    margin-bottom: 20px;
  }

  .section-carousel .slick-next {
    right: 10px;
  }

  .section-carousel .slick-prev {
    right: 60px;
  }

  .b-services-nav__info {
    display: inline-block;
    margin-left: 10px;
  }

  .b-services-nav__link {
    padding: 25px;
  }

  .main-slider__wrap,
  .main-slider__slide-2 .main-slider__wrap {
    clip-path: none;
    padding: 65px 10px 0;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .main-slider__title,
  .main-slider__slide-2 .main-slider__title {
    font-size: 30px;
  }

  .main-slider__title_lg {
    font-size: 25px;
    display: inline-block;
    padding-left: 5px;
  }

  .main-slider__price {
    font-size: 30px;
  }

  .main-slider__price_up,
  .main-slider__price_down {
    font-size: 20px;
  }

  .main-slider__link {
    font-size: 14px;
    display: none;
  }

  .main-slider__link:before {
    width: 70px;
    height: 3px;
  }

  .main-slider__slogan {
    font-size: 14px;
  }

  .main-slider__slide,
  .sp-mask,
  .sp-image-container,
  .main-slider__wrap {
    height: 300px !important;
  }

  .b-find {
    margin-top: -40px;
  }

  .b-find-nav__item {
    width: 100%;
    border-bottom: 1px solid #fff;
  }

  .b-find-content {
    margin-top: 2px;
  }

  .b-find__inner {
    display: block;
  }

  .b-find__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .b-welcome-list__item {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-right: none;
    border-bottom: 1px solid #eee;
  }

  .b-welcome-list__item .ic {
    margin-bottom: 10px;
  }

  .b-welcome-list__item:not(:last-child) {
    border-right: none;
  }

  .section-carousel .slick-prev,
  .section-carousel .slick-next {
    top: -20px;
    display: none !important;
  }

  .b-goods-f_mod-a .b-goods-f__list-item .ic {
    display: none;
  }

  html .b-title-page__wrap {
    margin-left: 20px;
    padding-left: 50px;
  }

}

/* end 767px */


@media (max-width:468px) {



  html .b-title-page {
    font-size: 20px;
    line-height: 1.4;
  }

  html .breadcrumb {
    padding: 0.75rem 0;
  }

  .main-slider__figure-1.img-fluid {
    display: none !important;
  }

  html .b-services-nav__item {
    text-align: left;
    flex: 0 0 100%;
    max-width: 100%;
  }


  .b-services-nav__number {
    display: none;
  }

}
